.logo{
    position: absolute;
    left: 8%;
    top: 8%;

    font-style: normal;
    font-family: 'Pacifico', cursive;
    font-weight: 900;
    font-size: 30px;
    display: inline-flex;
    color: #ED2101;

}
body {
    height: 100%;
    width: 100%;
    background-color: #F8C9D3;
    display: flex;
    flex-direction: column;
    margin: auto;
}
.nav{
    position: absolute;
    right: 10%;
    top: 8%;
    display: inline-flex;
    list-style-type: none;


}
.nav>li{    

    font-weight: 400;
    font-size: 16px;
    font-family: 'Pacifico', cursive;
    text-align: center;
    color:#ED2101;
    margin-left: 38px;
}
.nav>li>button{

    background: #ED2101;
    border-radius: 6px;
    border-color: #FFFFFF;
    border-style: none;
    color: #FFFFFF;

}
a:link,a:active,a:visited,a:hover {
    text-decoration: none; 
    color: #FFFFFF;

}

.zoeimg{
    position: absolute;
    width: 50%;
    height: 65%;
    left: 8%;
    top: 25%;
    display:inline-flex;
}
.maintitle{
    position: absolute;
    top: 30%;
    left: 60%;
    font-family: 'Pacifico', cursive;
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    display: inline-flex;
    color:#ED2101;
}
.firstpara{
    position: absolute;
    display: inline-flex;
    font-family: 'Pacifico', cursive;
    left: 60%;
    top: 38%;
    color:#ED2101;
    font-size: 18px;

}

.secondpara{
    position: absolute;
    display: inline-flex;
    font-family: 'Pacifico', cursive;
    left: 60%;
    top: 54%;
    color:#ED2101;
    font-size: 18px;

}